@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@font-face {
  font-family: norse;
  src: url(../assets/font/Norse-Bold.otf);
}

:root {
  --btn-color: #596d48;
  --valid-color: #839de6;
  --invalid-color: #cf6363;
  --label-font-color: #191919;
  --form-header-font-color: #2e3744;
  --display-bg-color: #f9fafb;
  --display-form-bg-color: #ffffff;
  --normal-font-name: Roboto, sans-serif;
}

body {
  font-family: norse, sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containor {
  display: flex;
  height: min(1024px, 100vh);
  width: min(1440px, 100vw);
}

.hero-image {
  background: url(../assets/images/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  flex: 3;
}

/* style for title containor */
.title-contatinor {
  background-color: #1919197a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  margin-top: 130px;
  padding: 0.5rem;
}

.title-contatinor h1 {
  font-size: 6rem;
  color: var(--display-form-bg-color);
  margin: 0 10px;
}

.title-contatinor img {
  height: auto;
  width: 100%;
  max-width: 100px;
}

/* the form area */
.form-area {
  flex: 7;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--display-bg-color);
}

.form-area .header,
.form-area .main,
.form-area .footer {
  height: inherit;
  width: inherit;
  padding: 0 2.5rem;
  font-family: var(--normal-font-name);
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* header area styling */
.header {
  justify-content: end;
  font-weight: bold;
  font-size: 1.25rem;
}

.header p {
  max-inline-size: 55ch;
  line-height: 1.3;
  letter-spacing: 0.9px;
}

.header p:nth-child(2),
.main h2 {
  margin: 1.3rem 0px;
}

.italic {
  font-style: italic;
}

/* main --the actual form */
.main {
  background-color: var(--display-form-bg-color);
  padding: 1rem 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  position: relative;
  border-top: 1px solid #7676761e;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.05);
}

.main form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

form .row {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

/* styling for each label */
form label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  position: relative;
}

label span {
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
}

label input {
  outline: none;
  border: 1px solid #767676dc;
  border-radius: 4px;
  font-family: var(--normal-font-name);
  letter-spacing: 1px;
  font-size: 1rem;
  padding: 2px 4px;
  width: 100%;
  max-width: 260px;
  cursor: text;
}

label input:focus {
  border-color: blue;
  box-shadow: 2px 2px 5px lightgray;
}

.invalid {
  border-color: red !important;
  position: relative;
}

.invaliderror {
  position: absolute;
  bottom: -1rem;
  font-size: 10px;
  color: red;
  text-transform: capitalize;
  letter-spacing: initial;
  display: none;
}

.invalid ~ .invaliderror {
  display: inline-block;
}

/* styling for submit form */
#submit-form {
  display: block;
  position: absolute;
  bottom: -120px;
}

#submit-form button {
  all: unset;
  background-color: var(--btn-color);
  color: var(--display-form-bg-color);
  padding: 0.6rem 2rem;
  border-radius: 0.5rem;
  margin: 1rem 0px;
}

#submit-form p {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
}

#submit-form p a {
  color: var(--btn-color);
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .hero-image {
    flex: 2;
  }

  /* style for title containor */
  .title-contatinor {
    margin-top: 130px;
    padding: 0.3rem;
  }

  .title-contatinor h1 {
    font-size: 3rem;
    margin: 0 6px;
  }

  .title-contatinor img {
    max-width: 60px;
  }

  .form-area {
    flex: 4;
    overflow: auto;
  }

  .form-area .header,
  .form-area .main,
  .form-area .footer {
    padding: 0 1rem;
  }

  .header {
    margin-top: 1rem;
    font-size: 1rem;
  }

  .header p {
    line-height: 1.2;
  }

  /* main --the actual form */
  .main {
    padding: 0.7rem 0px;
  }

  form .row {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }

  /* styling for submit form */
  #submit-form {
    bottom: -100px;
  }

  #submit-form button {
    padding: 0.5rem 1.6rem;
    margin: 1rem 0px;
  }

  #submit-form p {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 560px) {
  .hero-image {
    flex: 3;
  }

  /* style for title containor */
  .title-contatinor {
    margin-top: 130px;
    padding: 0.3rem;
  }

  .title-contatinor h1 {
    font-size: 3rem;
    margin: 0 6px;
  }

  .title-contatinor img {
    max-width: 60px;
  }

  .form-area {
    flex: 4;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .form-area .header,
  .form-area .main,
  .form-area .footer {
    max-width: 100%;
    padding: 8px;
  }

  .header {
    margin-top: 1rem;
    font-size: 1rem;
  }

  .header p:nth-child(2),
  .main h2 {
    margin: 1rem 0px;
  }

  .header p {
    line-height: 1.2;
  }

  /* main --the actual form */
  .main {
    padding: 0.7rem 0px;
  }

  .main form {
    width: 100%;
  }

  form .row {
    display: flex;
    flex-direction: column;
    justify-content: initial;
    gap: 0.9rem;
    width: 100%;
  }

  label input {
    max-width: 100%;
  }

  /* styling for submit form */
  #submit-form {
    bottom: -100px;
  }

  #submit-form button {
    padding: 0.5rem 1.6rem;
    margin: 1rem 0px;
  }

  #submit-form p {
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }

  .invaliderror {
    bottom: -0.8rem;
  }
}

@media screen and (max-width: 500px) {
  body {
    overflow: auto;
  }

  .containor {
    height: auto;
    width: 100vw;
    flex-direction: column;
  }

  .hero-image {
    flex: 1;
  }

  /* style for title containor */
  .title-contatinor {
    height: auto;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.2rem;
  }

  .title-contatinor h1 {
    font-size: 6rem;
  }

  .title-contatinor img {
    height: 100px;
    max-width: max-content;
  }

  /* the form area */
  .form-area {
    flex: 4;
  }

  .form-area .header,
  .form-area .main,
  .form-area .footer {
    padding: 0 1rem;
  }

  /* header area styling */
  .header {
    font-size: 1rem;
  }

  .header p:nth-child(2),
  .main h2 {
    margin: 1rem 0px;
  }

  /* styling for submit form */
  #submit-form {
    bottom: -130px;
  }
}
